*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #121214;
    font-family: 'Arial';
    color: #fff;
}
a, a:hover{
    text-decoration: none;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.container{
    margin: 0 auto;
    max-width: 1250px;
}
.mt-5{
    margin-top: 40px;
}
.content{
    width: 65%;
}
.sidebar{
    width: 25%;
}
.player{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: initial;
    max-width: 100%;
   
}

.content .video-yout{
    min-width: 100%;
}
.playlist{
    background-color: #202024;
    max-width: 100%;
    height: 515px;
    padding: 20px;
    border-radius: 5px;
    overflow-y: scroll;
}
.playlist .list{
    background-color: #29292e;
    max-width: 100%;
    padding: 30px;
    margin-top: 12px;
    color: #fff;
}
.playlist .list:hover{
    
    cursor: pointer;
    
}
.playlist-name{
    margin-bottom: 12px;
}

.video-description{
    margin-top: 22px;
    text-align: left;
}

.btn{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(41, 41, 46);
    border-radius: 5px;
    border: 0px;
    color: rgb(255, 255, 255);
    height: 50px;
    transition: background 0.2s ease 0s;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.btn:hover{
    cursor: pointer;
}
input, textarea{

    width: 100%;
    height: 50px;
    font-size: 16px;
    background: rgb(18, 18, 20);
    border-color: rgb(18, 18, 20);
    color: rgb(255, 255, 255);
    padding: 0px 1em 0px 2.65em;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-top: 12px;

}
.list p{
    text-align: left;
    margin-bottom: 12px;
    font-size: 14px;
}
.list a{

    color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #29292e; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@media only screen and (max-width: 800px) {
  
    .container{
        padding: 10px;
    }
    .content{
        width: 100%;
        margin-top: 22px;
    }
    .sidebar{
        width: 100%;
    }
}