*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #121214;
    font-family: 'Roboto';
}
a, a:hover{
    text-decoration: none;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.container{
    margin: 0 auto;
    width: 1150px;
}